<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Site em NodeJs</title>
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Aprendendo usar o Heroku</h1>
                <p>Disciplina de Gerência e Configuração de Sistemas para Internet</p>
                <p>Prof. Fábio Duarte de Oliveira</p>
            </div>
        </div>
    </body>
</html>